*, html, body {
    font-family: 'Rubik', sans-serif;
    margin:0;
    padding:0;
    background-color: whitesmoke;
    user-select: none;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 15px;
    background-color: whitesmoke;
    text-align: center;
}
h1 {
    color: #8D6C9F;
}
img {
    width: 150px;
    background-color: transparent;
    margin:0 auto;
}
input, button {
    padding: 15px;
    border-color:transparent;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
input {
    color: #8D6C9F;
    background-color: white;
    margin: 10px 0;
}
input:active {
    border-color: #EFC88E;
}
button {
    color: white;
    background-color: rgb(17,195,180);
    font-weight: bolder;
}
button:disabled {
    /* background-color: lightgray;
    color: lightslategray; */
    opacity: 0.4;
}
button:hover{
    background-color: rgb(11, 103, 95);
}
#shoppingList {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0px;
}
#shoppingList li{
    padding: 10px;
    background-color: #8D6C9F;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px #efefef;
}
#shoppingList li:hover {
    background-color: white;
    color:#8D6C9F;
}